/* Salmon- #E0AFA0
offwhite- #F4F3ED
beige- #BCB8B1
dark sand-#8A817C
dark brown- #473F3A
black- #000000    */
body {
	font-family: 'Montserrat', serif;
	font-size: 16px;
	margin:0;
}

h1,h2,h3,h4 {
	font-family: 'Sura', serif;
}

h1,h2 
{
font-size: 2.75em;
}

h3,h4 {
	font-size: 1em;
}
h3{
	margin: 20px;
}
header {
	background-color: #f4f3ed;
	margin: auto;
	text-align: center;
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.my-story-paragraph{
	margin-left: 40px;
	margin-right: 40px;
}
/* Layout Styling */
.container {
	padding: 0 15px;
}
.row {
	/* margin: 25px 0; 25px top and bottom, 0 left and right */
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: auto;
}
.row::after {
content: "";
clear: both;
display: table;
}
.logo {
	max-width: 250px;
}
.profile-pic {
	width: 100px;
	height: 100px;
	margin-left: 16px;
}
nav ul li {
	padding: 0 15px;
	display: inline-block;
	list-style-type: none;
	padding: 0;
}

#hero {
	background-color: #ffffff;
  text-align: center;
}
#hero h1 {
	margin: 0;
	padding: 0.67em 0;
}
#hero span {
  display: block;
}
main {
	padding-top: 250px;
}

/* Buttons */
.button-work {
	background-color: #e0afa0;
	color: #ffffff;
	border: 4px solid #e0afa0;
	text-decoration: none;
}
.button-work:hover {
	color: #ffffff;
	background-color: #e2876b;
	border: 4px solid #e2876b;
}
.button-work:active {
	color: #ffffff;
	background-color: #e2876b;
	border: 4px solid #e2876b;
}
.button-about {
	background-color: #e0afa0;
	color: #ffffff;
	border: 4px solid #e0afa0;
	text-decoration: none;
}
.button-aboout:hover {
	color: #ffffff;
	background-color: #e2876b;
	border: 4px solid #e2876b;
}
.button-about:active {
	color: #ffffff;
	background-color: #e2876b;
	border: 4px solid #e2876b;
}
.button-contact {
	background-color: #e0afa0;
	color: #ffffff;
	border: 4px solid #e0afa0;
	text-decoration: none;
}
.button-contact:hover {
	color: #ffffff;
	background-color: #e2876b;
	border: 4px solid #e2876b;
}
.button-contact:active {
	color: #ffffff;
	background-color: #e2876b;
	border: 4px solid #e2876b;
}
.button-stack {
	background-color: #e0afa0;
	color: #ffffff;
	border: 4px solid #e0afa0;
	text-decoration: none;
}
.button-stack:hover {
	color: #ffffff;
	background-color: #e2876b;
	border: 4px solid #e2876b;
}
.button-stack:active {
	color: #ffffff;
	background-color: #e2876b;
	border: 4px solid #e2876b;
}
.button-denovo {
	background-color: #e0afa0;
	color: #ffffff;
	border: 4px solid #e0afa0;
	text-decoration: none;
}
.button-denovo:hover {
	color: #ffffff;
	background-color: #e2876b;
	border: 4px solid #e2876b;
}
.button-denovo:active {
	color: #ffffff;
	background-color: #e2876b;
	border: 4px solid #e2876b;
}
.button-trash {
	background-color: #e0afa0;
	color: #ffffff;
	border: 4px solid #e0afa0;
	text-decoration: none;
}
.button-trash:hover {
	color: #ffffff;
	background-color: #e2876b;
	border: 4px solid #e2876b;
}
.button-trash:active {
	color: #ffffff;
	background-color: #e2876b;
	border: 4px solid #e2876b;
}
.button-resume {
	background-color: #e0afa0;
	color: #ffffff;
	border: 4px solid #e0afa0;
	text-decoration: none;
}
.button-resume:hover {
	color: #ffffff;
	background-color: #e2876b;
	border: 4px solid #e2876b;
}
.button-resume:active {
	color: #ffffff;
	background-color: #e2876b;
	border: 4px solid #e2876b;
}
.button-email {
	background-color: #000000;
	color: #ffffff;
	border: 4px solid #000000;
	text-decoration: none;
}
.button-email:hover {
	background-color: #e2876b;
	color: #ffffff;
	border: 4px solid #e2876b;
	text-decoration: none;
}
.button-email:active {
	background-color: #e2876b;
	color: #ffffff;
	border: 4px solid #e2876b;
	text-decoration: none;
}

.project-container{
	display: flex;
	flex-direction: row;
	margin-top: 30px;
	width: 100%;
	justify-content:space-around;
}
.right{
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}
.left{
	display: flex;
	flex-direction: column;
	width: 50%;
}
.row p{
	width: auto;
}
.email-wrapper, .linkedin-wrapper {
	display: flex;
	align-items: center;
}
.email-icon img,.linkedin-icon img {
	width: 30px;
}
.email-icon, .linkedin-icon {
	margin-right: 5px;
}

#footer .side-by-side {
	display: flex;
	justify-content: center;
}

.side-by-side > div {
	margin-left: 40px;
}

footer {
	margin-bottom: 100px;
}
/*Animation tings*/
.FROSKII {animation: rotate 2s infinite alternate;
	transform-origin: center;

}
	@keyframes rotate {
	100%{transform:rotate(-2deg);
	}
}

.SHOE {animation: shoe-rotate 1s infinite alternate;
	transform-origin: center;

}
	@keyframes shoe-rotate {
		0%{transform:rotate(1deg);

}
	}


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px)
header{
  text-align: unset;
  padding: 20px 0 13px;
}
nav {
  width: auto;
  float: right;
  margin-top: 4px;
  margin-right: 16px;
}
main {padding-top: 99px;}

.logo {
	max-width: 50px;
	margin-left: 16px;
}
.col-md-6 {
  width: 50%;
}
[class*="col-"] {
  float: left;
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
}
@media